<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>註冊帳號 - SteveYi Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css">
    <link rel="icon" href="https://static.yiy.tw/static/img/apple-touch-icon-114x114.png">
    <script src='https://www.recaptcha.net/recaptcha/api.js' async defer></script>
</head>

<body>
    <div class="ts padded horizontally fitted fluid slate">
        <div class="ts very narrow container">
            <h1>註冊帳號</h1>
            <p>歡迎！請註冊您的帳號</p>
        </div>
    </div>
    <br>
    <div class="ts very narrow container">
        <div class="ts clearing segment">
            <form class="ts form" action="/register" method="POST">
                <div class="two fields">
                    <div class="field">
                        <label>使用者名稱</label>
                        <input placeholder="請輸入您的使用者名稱" type="text" name='username'>
                    </div>
                    <div class="field">
                        <label>密碼</label>
                        <input placeholder="請輸入您的密碼" type="password" name='password'>
                    </div>
                </div>
                <script type="application/javascript">
                    function getip(json) {
                        document.write("<p>您目前的 IP 位置：", json.ip, "</p>");
                    }
                </script>
                <script type="application/javascript" src="https://api.ip.sb/jsonip?callback=getip"></script>
                <button class="ts right floated button">註冊</button>
            </form>
        </div>
        Copyright © 2019 -
        <script type="text/javascript">
            document.write(new Date().getFullYear());
        </script>
        <a href="https://network.steveyi.net/">SteveYi</a> All rights reserved.
        <br />
    </div>
</body>

</html>